# PDF Processing
pdfplumber>=0.10.3
PyMuPDF>=1.23.8
pdfminer.six>=20221105
pytesseract>=0.3.10
opencv-python>=4.9.0.80
Pillow>=10.2.0

# Data Processing
pandas>=2.2.0
openpyxl>=3.1.2

# Web Interface
streamlit>=1.31.1
typer>=0.9.0

# Web Scraping
beautifulsoup4>=4.12.3
requests>=2.31.0
lxml>=5.1.0
selenium>=4.17.2
webdriver-manager>=4.0.1
google-api-python-client>=2.131.0

# Kaggle API
kaggle>=1.5.16 